In [1]:
import pandas as pd
import numpy as np

In [2]:
mydir = "/Users/ptienpasertkij/Documents/RIT/Summer 2021/BANA785/All Data Files/"

customerData = mydir + "Wegmans Customer Data.txt"
itemData = mydir + "Wegmans Item Data.txt"
salesData = mydir + "Wegmans Sales Data.txt"
locationData = mydir + "Wegmans Location Data.txt"
customer = pd.read_csv(customerData, sep="|")
item = pd.read_csv(itemData, sep="|")
sales = pd.read_csv(salesData, sep="|")
location = pd.read_csv(locationData, sep="|")

In [4]:
customer.loc[customer['HH_INCOME'] == '<10K', 'HH_INCOME'] = 10000
customer.loc[customer['HH_INCOME'] == '15K-20K', 'HH_INCOME'] = 15000
customer.loc[customer['HH_INCOME'] == '20K-30K', 'HH_INCOME'] = 20000
customer.loc[customer['HH_INCOME'] == '30K-40K', 'HH_INCOME'] = 30000
customer.loc[customer['HH_INCOME'] == '40K-50K', 'HH_INCOME'] = 40000
customer.loc[customer['HH_INCOME'] == '50K-75K', 'HH_INCOME'] = 50000
customer.loc[customer['HH_INCOME'] == '75K-100K', 'HH_INCOME'] = 75000
customer.loc[customer['HH_INCOME'] == '100K-125K', 'HH_INCOME'] = 100000
customer.loc[customer['HH_INCOME'] == '125K+', 'HH_INCOME'] = 125000
customer['HH_INCOME'].unique()

array([100000, 30000, nan, 40000, 125000, 50000, 75000, 15000, 20000,
       10000], dtype=object)

In [5]:
customer["HH_INCOME"] = pd.to_numeric(customer["HH_INCOME"])
customer.dtypes

CUSTOMER_ID       int64
HOUSEHOLD_ID      int64
HOH_AGE         float64
HH_INCOME       float64
HH_CHILDREN     float64
dtype: object

In [6]:
customer['HOH_AGE'].fillna(value=customer['HOH_AGE'].median(), inplace=True)
customer['HH_INCOME'].fillna(value=round(customer['HH_INCOME'].mean(),2), inplace=True)
customer['HH_CHILDREN'].fillna(value=customer['HH_CHILDREN'].median(), inplace=True)

In [7]:
customer

      CUSTOMER_ID  HOUSEHOLD_ID  HOH_AGE  HH_INCOME  HH_CHILDREN
0            2767          2767    106.0  100000.00          0.0
1            4111          4111     58.0   30000.00          1.0
2             655           655     67.0   66348.11          1.0
3            1999          1999     56.0   66348.11          1.0
4            1423          1423     79.0   30000.00          1.0
...           ...           ...      ...        ...          ...
7043         2065          2065     35.0   10000.00          2.0
7044         4753          1187     50.0   30000.00          1.0
7045         5905          3514     57.0   40000.00          0.0
7046         5713          1114     62.0   30000.00          2.0
7047          145           145     50.0   66348.11          1.0

[7048 rows x 5 columns]

In [8]:
customer.to_csv('Wegmans Customer Data Cleaned.csv', index=False)

In [10]:
sales

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES
0,-3159569380792161759,20190721,96,45177,1,0.0,0.24
1,-3159569380792161759,20190721,96,607378,1,0.0,0.86
2,8384649611398879621,20190120,590,36353,1,0.0,7.19
3,2162207011784361973,20191107,1807,12663,1,0.0,1.43
4,121169808038836155,20190320,1832,125639,1,0.0,0.71
...,...,...,...,...,...,...,...
5672648,-1647969012224490023,20191212,3682,676281,1,0.0,5.39
5672649,5834070409232547721,20190611,535,92649,1,0.0,1.08
5672650,177101915637978553,20200209,2412,48082,1,0.0,2.37
5672651,-6937748279373646983,20200620,483,719590,1,0.0,1.07
5672652,-1630263317471144268,20190609,4446,731956,1,0.0,2.15

In [11]:
location

            TRANSACTION_KEY  LOCATION_NBR  INSTACART_IND
0       2690500712181362657            22              1
1      -8773936045043192608            63              1
2      -3661439005258676194            24              1
3      -4733295291706551970            25              1
4       6272747967003556830            20              1
...                     ...           ...            ...
441375 -1749134637415514696            24              0
441376  4577840945846652328            25              0
441377 -5971732586820603428            24              0
441378  3009082540181272219            24              0
441379 -5842026645542560470            22              0

[441380 rows x 3 columns]

In [12]:
salesLocation = pd.merge(sales, location, on="TRANSACTION_KEY")
salesLocation

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,LOCATION_NBR,INSTACART_IND
0,-3159569380792161759,20190721,96,45177,1,0.00,0.24,68,0
1,-3159569380792161759,20190721,96,607378,1,0.00,0.86,68,0
2,-3159569380792161759,20190721,96,124363,1,0.00,1.29,68,0
3,-3159569380792161759,20190721,96,616770,1,0.00,2.87,68,0
4,-3159569380792161759,20190721,96,172983,1,0.00,2.15,68,0
...,...,...,...,...,...,...,...,...,...
5672648,-8622832924316025984,20190108,2352,42367,1,0.00,2.77,11,0
5672649,-6396457200448565064,20191202,4119,21957,2,3.51,32.82,19,0
5672650,3172254968881965445,20200228,3796,743409,1,0.00,4.31,13,0
5672651,-7833296782638889728,20190303,4878,223358,1,0.00,2.01,22,0
5672652,-4236079626385918236,20201224,3157,55066,1,0.00,1.94,74,0

In [16]:
len(pd.unique(sales['TRANSACTION_KEY']))

441380

In [14]:
sales['TRANSACTION_KEY'] = pd.factorize(sales.TRANSACTION_KEY)[0] + 1

In [17]:
sales.to_csv('Wegmans Sales Data Clean.csv', index=False)

In [18]:
salesItem = pd.merge(sales, item, on="ITEM_NBR")
salesItem

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,ITEM_DESCRIPTION,PRODUCT_HIERARCHY,DEPARTMENT_NAME,CATEGORY_NAME,CLASS_NAME,IS_ORGANIC,IS_FAMILYPACK,IS_WEGMANSBRAND
0,1,20190721,96,45177,1,0.0,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1
1,923,20200729,1737,45177,2,0.0,0.48,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1
2,4102,20191208,2745,45177,2,0.0,0.48,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1
3,6973,20190317,747,45177,3,0.0,0.71,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1
4,7382,20200105,88,45177,1,0.0,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5672648,284826,20201025,4259,761147,1,0.0,3.60,rifl everyday Card 1 EA,45-10-15,CARD DEPARTMENT,GREETING CARDS,EVERYDAY CARDS: ALTERNT VENDOR,0,0,0
5672649,270606,20190215,3543,738529,1,0.0,2.34,shat everyday card 1 EA,45-10-15,CARD DEPARTMENT,GREETING CARDS,EVERYDAY CARDS: ALTERNT VENDOR,0,0,0
5672650,270367,20200702,3755,705054,1,0.0,5.76,Ag STATIONERY/NOTES 20 CT,45-50-15,CARD DEPARTMENT,CARD SHOP STATIONERY,BOXED NOTES,0,0,0
5672651,405464,20191221,1727,782856,1,0.0,9.35,"Bianca 3 Section Dish, Ridge 1 EA",47-70-94,GM FOR FOOD (HOUSEWARES),CERAMIC DINNERWARE,WHITE DINNERWARE,0,0,0
5672652,270067,20191215,1907,790413,1,0.0,3.24,Grar christmas card 1 EA,45-10-40,CARD DEPARTMENT,GREETING CARDS,SEASONAL CARDS: ALTERNT VENDOR,0,0,0

In [20]:
salesCustomers = pd.merge(sales, customer, on="CUSTOMER_ID")
salesCustomers

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,HOUSEHOLD_ID,HOH_AGE,HH_INCOME,HH_CHILDREN
0,1,20190721,96,45177,1,0.0,0.24,96,67.0,75000.00,0.0
1,1,20190721,96,607378,1,0.0,0.86,96,67.0,75000.00,0.0
2,1,20190721,96,124363,1,0.0,1.29,96,67.0,75000.00,0.0
3,1,20190721,96,616770,1,0.0,2.87,96,67.0,75000.00,0.0
4,1477,20200510,96,767937,2,0.0,4.31,96,67.0,75000.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...
5672648,436504,20190106,4351,297808,2,0.0,4.02,4123,53.0,125000.00,2.0
5672649,436675,20190423,6391,168935,-1,0.0,-3.02,416,58.0,20000.00,0.0
5672650,437783,20200111,440,43718,1,0.0,7.19,440,39.0,66348.11,1.0
5672651,438504,20190911,6909,464908,1,0.0,5.75,2336,29.0,75000.00,2.0
5672652,440430,20200822,2806,539460,4,0.0,8.61,2806,56.0,66348.11,1.0

In [21]:
salesCustomersFull = pd.merge(sales, customer, on="CUSTOMER_ID")
salesCustomersFull

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,HOUSEHOLD_ID,HOH_AGE,HH_INCOME,HH_CHILDREN
0,1,20190721,96,45177,1,0.0,0.24,96,67.0,75000.00,0.0
1,1,20190721,96,607378,1,0.0,0.86,96,67.0,75000.00,0.0
2,1,20190721,96,124363,1,0.0,1.29,96,67.0,75000.00,0.0
3,1,20190721,96,616770,1,0.0,2.87,96,67.0,75000.00,0.0
4,1477,20200510,96,767937,2,0.0,4.31,96,67.0,75000.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...
5672648,436504,20190106,4351,297808,2,0.0,4.02,4123,53.0,125000.00,2.0
5672649,436675,20190423,6391,168935,-1,0.0,-3.02,416,58.0,20000.00,0.0
5672650,437783,20200111,440,43718,1,0.0,7.19,440,39.0,66348.11,1.0
5672651,438504,20190911,6909,464908,1,0.0,5.75,2336,29.0,75000.00,2.0
5672652,440430,20200822,2806,539460,4,0.0,8.61,2806,56.0,66348.11,1.0

In [22]:
allData = pd.merge(salesItem, customer, on="CUSTOMER_ID")
allData

,TRANSACTION_KEY,DATE_KEY,CUSTOMER_ID,ITEM_NBR,UNITS,WEIGHT,SALES,ITEM_DESCRIPTION,PRODUCT_HIERARCHY,DEPARTMENT_NAME,CATEGORY_NAME,CLASS_NAME,IS_ORGANIC,IS_FAMILYPACK,IS_WEGMANSBRAND,HOUSEHOLD_ID,HOH_AGE,HH_INCOME,HH_CHILDREN
0,1,20190721,96,45177,1,0.0,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.00,0.0
1,15212,20190728,96,45177,1,0.0,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.00,0.0
2,39591,20200322,96,45177,1,0.0,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.00,0.0
3,104107,20190120,96,45177,1,0.0,0.36,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.00,0.0
4,148846,20191013,96,45177,1,0.0,0.24,"Wegmans Lowfat Blended Yogurt, Lemon 6 OZ",40-10-30,CULTURED DAIRY,YOGURT,BLENDED YOGURT,0,0,1,96,67.0,75000.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5672648,221666,20200110,6301,40267,1,0.0,15.12,1/4 Cookie Order 1 EA,64-01-06,IN-STORE DESSERTS,CAKES,COOKIE CAKES,0,0,1,2415,44.0,100000.00,2.0
5672649,402735,20190614,823,338121,1,0.0,5.75,"Just For Men Shampoo-In Color, Medium Brown H...",18-56-45,HEALTH & BEAUTY CARE,SHAVE,MEN'S HAIR COLOR,0,0,0,823,21.0,66348.11,1.0
5672650,402735,20190614,823,615047,1,0.0,7.91,Crest 3DW Brilliance 2Stp 6.3 OZ,18-43-20,HEALTH & BEAUTY CARE,TOOTHPASTE,TOOTHPASTE WHITENERS,0,0,0,823,21.0,66348.11,1.0
5672651,113495,20191218,4909,36446,0,0.0,0.00,Amore GC OV 1 EA,73-95-02,COMMUNITY RELATIONS ITEMS,GIFT CARDS,GIFT CARD FUNDING,0,0,0,3415,58.0,20000.00,0.0
5672652,376013,20191007,2244,778303,1,0.0,10.79,Bills bettabrella umbrela 1 EA,10-89-10,GM BASIC PRODUCTS DEPARTMENT,TEAM SPORTS & HOMETOWN,NFL FOOTBALL,0,0,0,2244,65.0,66348.11,1.0

In [24]:
allData.to_csv('Wegmans All Data.csv', index=False)

In [25]:
allData.to_csv('Wegmans All Data.txt', index=False)